body {
  background-color: #fff;
}
p {
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.btn-wrp {
  position: relative;
}
button {
  border: 1px solid #000;
  cursor: pointer;
  font-weight: bold;
}

.btn-add {
  width: 60px;
  height: 35px;
  position: absolute;
  top: 90px;
  right: 10px;
}
.btn-back {
  width: 120px;
  height: 75px;
  position: absolute;
  top: 112px;
  right: 305px;
}
.btn-plus {
  width: 120px;
  height: 75px;
  position: absolute;
  top: 112px;
  right: 305px;
}
.todo-list {
  background-color: #a9a9a9;
  border: 1px;
  font-size: 18px;
}
td {
  background-color: #ffffff;
  text-align: left;
}
.center {
  text-align: center;
}
tr {
  height: 36px;
  text-align: center;
  background-color: #d3d3d3;
}
