/* 複数のページ共通処理 */

/* カスタムプロパティ */
:root {
  --border-color: #30beff;
  --button-background-color: #6bd0ff;
  --letter-white: #fff;
}

/* body全体の設定 */
body {
    font-family: arial, sans-serif;
}

/* pタグの文字サイズ指定 */
p {
    font-size: 30px;
    color: black;
    font-weight:bold;
}

/* aタグ全体,データを送信するinputボタンのクラス */
a,
.btn {
  color: var(--letter-white);
  font-weight   : bold;
  text-align    : center;      
  cursor        : pointer;     
}

/* Aタグリンクにつけるクラスとデータを送信するSubmitボタンにつけるクラス */
.btn_a,
.btn_submit {
  display       : inline-block;
  border-radius : 5%;          /* 角を丸くする */
  font-size     : 15px;        /* 文字サイズ */
  padding       : 6px;   /* 余白       */
  background    :var(--button-background-color);    /* 背景色 */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : background-color.3s;         /* なめらか変化 */
  border        : 1px solid var(--border-color);    /* 枠の指定 */
}

/* index.php */

/* タイトル部分の| */
.title {
  color: #000;
  border-left: 6px solid var(--border-color);
  padding-left: 8px;
}

/* テーブル全体の設定 */
.todo_list {
  background-color : var(--button-background-color);
  border: 1px var(--border-color);
  font-size: 18px;
  text-align : center;
}

/* テーブルのヘッダーの文字設定 */
th {
    color : var(--letter-white);
}

/* テーブルの見出しの設定 */
tr {
  height: 36px;
  background-color:var(--border-color);
}

/* テーブルデータ部分の設定 */
td {
    background-color:var(--letter-white);
}

/* テーブル上にマウスがあると色が変わる処理 */
.todo_list tr td:hover {
  background-color: #d9efff;
}

/* td部分の設定 */
.left {
    text-align : left;
}

/* 追加ボタンの設定 */
.btn_add {
    font-size: 18px;
    position: absolute;
    width: 90px;
    height: 55px;
    top: 40px;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--button-background-color);

    /* メイン画面の追加ボタン設定 */
    &.btn_cubic {
      border-bottom: 5px solid var(--border-color);
      
      /* 追加ボタン上にカーソルがあるときの処理 */
      &:hover {
         margin-top: 2px;
      border-bottom: 1px solid var(--border-color);
      }
    }
}

/* 追加ボタンの角の丸み設定 */
span.btn_radius {
  border-radius: 20px;
}

