/*body全体の設定*/
body {
    background-color: #fff;
    font-family: arial, sans-serif;

}

/*戻るリンクの設定*/
.btn_back {
  padding  : 7px 9px;   /* 余白 */
  font-size: 15px;
}

/*pタグの文字サイズ指定*/
p {
    font-size: 30px;
    color: black;
    font-weight:bold;
}

/*ボタン全体の設定*/
button {
    color: #fff;
    border: 1px solid #30beff;
    background-color:#6bd0ff;
    cursor: pointer;
}

/*ボタンの配置設定*/
.btn_wrp {
    position: relative;
}

/*追加ボタンの設定*/
.btn_add {
    font-size: 15px;
    font-weight:bold;
    position: absolute;
    width: 90px;
    height: 50px;
    top: 57px;
    right: 12px;
}

/*テーブル全体の設定*/
.todo_list {
  background-color : #6bd0ff;
  border: 1px;
  font-size: 18px;
}

/*Aタグリンクにつけるクラス*/
.btn_a {
  display       : inline-block;
  border-radius : 5%;          /* 角を丸くする */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 6px;   /* 余白       */
  background    : #6bd0ff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 1px solid #30beff;    /* 枠の指定 */
}

/*データを送信するSubmitボタンにつけるクラス*/
.btn_submit {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 10px;   /* 余白       */
  background    : #6bd0ff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 1px solid #30beff;    /* 枠の指定 */
}

/*テーブル上にマウスがあると色が変わる処理*/
.todo_list tr:hover td {
	background-color: #d9efff;
}

/*テーブルのヘッダーの文字設定*/
th {
    color : #fff;
}

/*テーブルの見出しの設定*/
tr {
  height: 36px;
  text-align: center;
  background-color:#30beff;
}

/*テーブルデータ部分の設定*/
td {
    background-color:#ffffff;
    text-align : center;
}

/*内容部分の設定*/
.left {
    text-align : left;
}

/*メイン画面の追加ボタン設定*/
button.btn_add.btn_cubic {
  border-bottom: 5px solid #0ea3e7;
  background-color:#30beff;
    color : #fff;
}

/*追加ボタン上にカーソルがあるときの処理*/
button.btn_add.btn_cubic:hover {
  margin-top: 2px;
  border-bottom: 1px solid #30beff;
}

/**/
button.btn_radius {
  border-radius: 100vh;
}